#######################################################################
# Author: Lehlohonolo Adolf Matobakele  
# Email: lehlohonolo.matobakele@gov.ls
# Contacxt: 00266 62320704
#######################################################################
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.DS_Store
*.pdf
*.doc
*.docx
build/
dist/
*.egg-info/
